@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0e131b;
  list-style: none;
}

table tr {
  clip-path: xywh(0 0 100% 100% round 6px);
}

::placeholder {
  @apply font-inter font-medium text-light-100 text-sm leading-[16.94px];
}

.container {
  @apply max-w-[1200px] w-full mx-auto px-2.5;
}

.scroll-x::-webkit-scrollbar-track,
.scroll-y::-webkit-scrollbar-track,
.scroll-xy::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-x::-webkit-scrollbar-thumb,
.scroll-y::-webkit-scrollbar-thumb,
.scroll-xy::-webkit-scrollbar-thumb {
  background-color: #333541;
  border-radius: 8px;
}

.scroll-x::-webkit-scrollbar-corner,
.scroll-y::-webkit-scrollbar-corner,
.scroll-xy::-webkit-scrollbar-corner {
  background: transparent;
}

.scroll-x::-webkit-scrollbar,
.scroll-y::-webkit-scrollbar,
.scroll-xy::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scroll-x--contain,
.scroll-y--contain,
.scroll-xy--contain {
  -ms-scroll-chaining: none;
  overscroll-behavior: contain;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

/* ============================================================= */
/* Roulette Wheel Spinner Section CSS  */
/* ============================================================== */

.roulette-wrapper {
  @apply overflow-x-hidden;
}

.wheel,
.row {
  @apply flex gap-[3px];
}

.wheel_coin {
  @apply bg-no-repeat flex justify-center items-center bg-center w-[100px] h-[100px] bg-contain
}

.red_coin {
  background-image: url(/images/red-coin-shade.png);
}

.green_coin {
  background-image: url(/images/green-coin-shade.png);
}

.black_coin {
  background-image: url(/images/black-coin-shade.png);
}


.wheel_overlay::before,
.wheel_overlay::after {
  content: "";
  position: absolute;
  top: 0;
  width: 25%;
  height: 100%;
}

.wheel_overlay::before {
  left: 0;
  background: linear-gradient(90deg, rgba(14, 19, 27, 0.9) 4.14%, transparent 100%)
}

.wheel_overlay::after {
  left: auto;
  right: 0;
  background: linear-gradient(transparent 100%, 90deg, rgba(14, 19, 27, 0.9) 4.14%)
}


.wheel_mask {
  @apply max-w-[1132px] w-full h-[100px] absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-dark-100/75;
}

.mask {
  background: linear-gradient(90deg,
      rgba(14, 19, 27, 0.9) 4.14%,
      rgba(14, 19, 27, 0.06) 50%,
      rgba(14, 19, 27, 0.9) 94.87%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.previous_roll_mask {
  background: linear-gradient(90deg,
      rgba(217, 217, 217, 0) 0%,
      rgba(217, 217, 217, 0.15) 35.42%,
      #d9d9d9 100%);
}

/* ============================================================= */
/*  Spinner Section CSS END  */
/* ============================================================== */




/* ============================================================= */
/* Coin flip Section CSS  */
/* ============================================================== */

.flipcoin-card {
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #222C39;
  background: #16222A;
  display: flex;
  flex-direction: column;
  position: relative;
}

.flipCoin-card-image {
  min-height: 170px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  color: rgb(255, 255, 255);
  /* background: url('/images/room-image.png') 0% 0% / cover; */
  padding: 10px 14px;

}

.flipCoin-card-center {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 14px 12px;
}

.person {
  max-width: 105px;
  padding: 4px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  background: #121C23;
  border-radius: 20px;
  height: 38px;
  gap: 5px;
  position: relative;
  width: 100%;
  padding: 4px;
  align-items: center;

}

.person1-img {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.level {
  background: rgb(34, 44, 57);
  border-radius: 20px;
  max-width: 58px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 28px;
  padding-right: 4px;
  height: 23px;
}

.level2 {
  background: rgb(34, 44, 57);
  border-radius: 20px;
  max-width: 58px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 12px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 28px;
  height: 23px;
}

.coinflip-btn {
  align-items: center;
  justify-content: center;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: none;
  padding: 10px;
  margin: 12px;
  border: 1px solid rgb(44, 240, 120);
  background: rgb(19, 30, 38);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  gap: 6px;
}

.coinflip-btn:hover {
  border: 1px solid rgb(44, 240, 120);
  background: rgba(1, 254, 134, 0.2);
  color: rgb(44, 240, 120);
}


.grid-coinflip {
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
}

@-webkit-keyframes coinflip-move-3-1 {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translateZ(0)
  }

  to {
    -webkit-transform: translate3d(0px, -12px, 0);
    transform: translate3d(0, -12px, 0)
  }
}

@keyframes coinflip-move-3-1 {
  0% {
    -webkit-transform: translate3d(0px, 0px, 0);
    transform: translateZ(0)
  }

  to {
    -webkit-transform: translate3d(0px, -12px, 0);
    transform: translate3d(0, -12px, 0)
  }
}


@-webkit-keyframes coinflip-rotate-5 {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }
}

@keyframes coinflip-rotate-5 {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0)
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg)
  }
}


.coinflip-coin-container {
  position: relative;
  z-index: 20;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  will-change: transform
}

.coinflip-coin-gif {
  position: relative;
  z-index: 20;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  max-width: none !important;
  height: 210px;
  width: 210px;
  will-change: transform
}


.coinflip-sprite {
  -webkit-animation: coinflip-sprite 1.7s steps(50) forwards;
  animation: coinflip-sprite 1.7s steps(50) forwards;
  background-position: left top;
  height: 12648px;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 248px;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.coinflip-sprite-container {
  height: 248px;
  overflow: hidden;
  -webkit-transform: scale3d(.8467741935, .8467741935, .8467741935);
  transform: scale3d(.8467741935, .8467741935, .8467741935);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 248px
}

@keyframes coinflip-sprite {
  to {
    transform: translate3d(0, -12400px, 0)
  }
}



/* ============================================================= */
/* Coin flip Section CSS End  */
/* ============================================================== */
